
$background-color1: rgb(45, 104, 50);
$font-color1:rgb(147, 221, 140);
$font-color2:rgb(235, 193, 137);
$font-color3:rgb(170, 177, 148);
$border-color:rgb(214, 192, 120);

body {
  background-color: $background-color1;
}

.box-component1{
  display: flex;
  height: auto;
  flex-direction: row;
  flex-wrap: wrap;
  box-sizing: border-box;
  border-style: solid;
  border-color: $border-color;
  border-radius: 15px;
  border-width: 3px;
  padding: 25px;
  margin: 5px;
}

.box-component2{
  display: flex;
  height: auto;
  flex-direction: row;
  flex-wrap: wrap;
  box-sizing: border-box;
  border-style: solid;
  border-color: $border-color;
  border-radius: 15px;
  border-width: 3px;
  padding: 25px;
  margin: 5px;
}


#text-component1{
  color: $font-color1;
  font-size: 2rem;
}

#text-component2{
  color: $font-color2;
  font-size: 2rem;
}

.img-component1{
  width: 130px;
  height: 130px;
  position: relative;
  left: 30px;
}

.img-component2{
  width: 180px;
  height: 130px;
  position: relative;
  right: 5px;
}